.how-it-works {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.why-choose-us {
  width: 100%;
  padding: 40px 0;
  background-color: #2b4099;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #f8f8ed;
  font-size: 2rem; /* Responsive font size */
}

.why-choose-us-title {
  font-size: 3rem; /* Responsive font size */
  color: #f8f8ed;
  font-weight: 500;
  padding-bottom: 40px;
}

.card_header {
  font-weight: 900;
  font-size: 1.5rem; /* Responsive font size */
  margin-bottom: 12px;
}

.card_title {
  font-weight: 500;
  font-size: 1.25rem; /* Responsive font size */
  color: #2b4099;
  width: auto;
  text-align: justify;
}

.reason_card {
  background-color: #f8f8ed;
  color: #2b4099;
  width: calc(100% - 72px); /* Full width with padding */
  max-width: 300px; /* Max width for larger screens */
  border-radius: 18px;
  border: 2px solid white;
  padding: 36px;
  min-height: 200px;
}

.reason-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.slide-steps {
  padding: 60px;
  background-color: #f8f8ed;
}

.step-header {
  font-weight: 700;
  font-size: 2rem; /* Responsive font size */
  color: #2b4099;
}

.step-content {
  font-size: 1.5rem; /* Responsive font size */
  margin-top: 24px;
}

.step-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 100px;
}

.slide-button {
  width: 100%;
  background-color: #f8f8ed;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.m_button {
  background-color: #2b4099;
  color: white;
  font-weight: 700;
  width: 30%;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid purple;
  cursor: pointer;
  font-size: large;
  margin: 20px 0;
}

.step-img {
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Responsive image */
}
