.pay-card-container {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%; /* Full width */
}

.pricing-page {
  overflow-x: hidden;
}
