.page-signin {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tl_logo {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.br_logo {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.logo {
  margin-left: 10px;
}

.welcome {
  font-weight: 700;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-button {
  z-index: 11;
  padding: 8px;
  margin-top: 20px;
  width: 20vw;
  background-color: rgb(23 37 84);
  color: white;
  border-radius: 99px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
