.get-started-button {
  background-color: #2b4099;
  border-radius: 8px;
  border: 1px solid;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.get-started-button:hover {
  background-color: #1a2a4d;
}
