.item {
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  padding: 0px 10px;
}

.App-logo {
  height: 24px;
  cursor: pointer;
}

.App-link {
  color: white;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-logout {
  cursor: pointer;
}

.App-user {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-user-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
