/* .container {
  padding: 20px 0px;
  width: 80vw;
  position: relative;
  display: flex;
  font-size: large;
} */

.container_t {
}

.container_t .item {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
  justify-content: center;
  color: #15357d;

  &.even {
    /* For even indices */
    flex-direction: column; /* Original layout */
  }

  &.odd {
    /* For odd indices */
    flex-direction: column-reverse; /* Swap description and year, title */
  }
}

.container_t .item.time {
  align-items: flex-end;
  text-align: right;
}

/* .item {
  color: #0d0c07;
  font-weight: 500;
  font-size: 18px;
} */

.item_year {
  font-size: 56px;
  font-weight: 700;
}

.item_title {
  font-size: 32px;
  font-weight: 700;
}
