.App {
  text-align: center;
  overflow-x: hidden;
}

.App-nav {
  width: calc(100vw - 128px);
  display: flex;
  align-items: center;
  color: #f8f8ed;
  padding: 10px 64px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #f8f8ed;
  background-color: #0e1533;
  z-index: 999;
}

.App-pages {
  display: flex;
  gap: 1rem;
}

.App-logo {
  height: 24px;
}

.App-link {
  font-size: 20px;
  color: #f8f8ed;
  text-decoration: none;
  margin-right: 32px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slide {
  background: radial-gradient(circle, #2b4099, rgb(23 37 84));
  width: 100vw;
  height: 100vh;
  display: flex;
  border-bottom: 2px solid black;
}

.slide-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8f8ed;
  font-weight: 700;
  font-size: 80px;
  position: relative;
  width: 100%;
  height: 100%;
}

.left_logo {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.right_logo {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.button {
  margin-top: 60px;
  font-size: 20px;
  cursor: pointer;
  color: #2b4099;
  width: 172px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background-color: #f8f8ed;
}

.slide-benefit {
  background-color: #f8f8ed;
  padding: 60px 100px; /* Adjusted for mobile */
  width: 100%;
  display: flex;
  position: relative; /* Ensure the pseudo-element is positioned relative to this element */
}

.slide-benefit::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px; /* Match the left padding */
  right: 20px; /* Match the right padding */
  border-bottom: 2px solid black;
}

.slide-video {
  background-color: #f8f8ed;
  padding: 68px 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensure the pseudo-element is positioned relative to this element */
}

.slide-video::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100px; /* Match the left padding */
  right: 100px; /* Match the right padding */
  border-bottom: 2px solid black;
}

.slide-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

part-h2 {
  color: #2b4099;
  font-weight: 700;
  font-size: 44px;
  width: calc(100% - 200);
  border-bottom: 1px solid black;
  padding: 10px;
  margin-top: 20px;
}

part-h3 {
  color: #2b4099;
  font-weight: 700;
  font-size: 36px;
  width: calc(100% - 60px);
  padding-left: 32px;
}

content {
  padding-left: 32px;
  font-size: 24px;
}

.frame-img {
  margin: 20px;
  width: calc(100% - 200px);
}

.slide-competitor {
  padding: 60px 100px;
  position: relative; /* Ensure the pseudo-element is positioned relative to this element */
  background-color: #f8f8ed;
}

.slide-competitor::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100px; /* Match the left padding */
  right: 100px; /* Match the right padding */
  border-bottom: 2px solid black;
}

.slide-footer {
  width: 100%;
  height: 300px;
  background-color: #000000;
  color: #f8f8ed;
  position: relative;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.icon {
  margin-right: 8px;
}

.slide-container {
  display: flex;
}

.competitor-h1 {
  color: black;
  font-weight: 700;
  font-size: 68px;
  text-align: left;
}

.benefit-content {
  color: #000000;
  font-size: 1rem; /* Responsive font size */
  text-align: justify;
  margin-top: 1rem; /* Space above the content */
}

.benefit-content {
  color: #000000;
  font-size: 24px;
  text-align: justify;
  margin-top: 24px;
}

.benefit-img {
  width: 100%; /* Full width for responsiveness */
  height: auto; /* Maintain aspect ratio */
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Transparent background */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7); /* Slightly more opaque on hover */
}

.info-container {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 18px;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 20px;
}

.slide-pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  flex-direction: column;
  background-color: #f8f8ed;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.App-header {
  position: fixed; /* Fixes the header at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Ensures it stays above other content */
  background-color: #1a2b5d; /* Match the background color */
  padding: 10px 64px; /* Adjust padding as needed */
  display: flex;
  width: calc(100vw - 128px);
  border-bottom: 2px solid #f8f8ed;
  justify-content: space-between;
  align-items: center;
}

.app-download {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2b4099; /* Change to your desired color */
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: medium;
  margin-top: 20px;
}

.app-download:hover {
  background-color: #1a2b5d; /* Darker shade for hover effect */
}
